<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back-outline" (click)="remove();" defaultHref="escaneo"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row size="6">
    <ion-col size="6" *ngFor="let categoria of categorias">
      <ion-button class="cuadrado" (click)="redireccion(categoria.idCategoria);">
        <ion-img src="https://static.arasaac.org/pictograms/{{categoria.imagenCategoria}}/{{categoria.imagenCategoria}}_2500.png"></ion-img>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
