<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back-outline" defaultHref="categorias-comercio"></ion-back-button>
    </ion-buttons>
    <ion-title>categoria</ion-title>
  </ion-toolbar>
</ion-header>
<br>
<ion-content [translucent]="true">
  <div style="display: flex; justify-content: center;">
    <ion-avatar>
      <img src="assets/img/logofeisinfondo.png">
    </ion-avatar>
  </div>
  <br>
  <ion-grid >
    <ion-row >
      
        <ion-col >
          <ion-input hidden></ion-input>
          <ion-item>
            <ion-label position="floating">Nombre de la categoría</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-input hidden></ion-input> <br><br>
          <div style="display: flex; justify-content: center;" >
            <img routerLink="/imagen" src="https://img.icons8.com/office/40/000000/add-image.png"/>
          </div>
          <br>
          <div style="display: flex; justify-content: center;">
            <ion-button shape="round" >Crear categoría</ion-button>
          </div>
        </ion-col>
      
    </ion-row>
  </ion-grid>
</ion-content>
