<ion-header>
  <ion-toolbar>
    <ion-title>Registro 2/2</ion-title>
  </ion-toolbar>
</ion-header>
<br>
<ion-grid>
  <ion-row>
    <ion-item> 
      <ion-label position="default">Nombre del local</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-row>
  <br>
  <ion-row>
    <ion-item> 
      <ion-label position="default">Provincia</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-row>
  <br>
  <ion-row>
    <ion-item> 
      <ion-label position="default">Localidad</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-row>
  <br>
  <ion-row>
    <ion-item> 
      <ion-label position="default">Dirección</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-row>
  <br>
  <ion-row>
    <ion-item> 
      <ion-label position="default">Tipo de local</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-row>
  <br>
  <ion-row >
    <ion-button fill="solid" size="default">Registrar</ion-button>
  </ion-row>
</ion-grid>
