<ion-header>
  <ion-toolbar>
    <ion-title>producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row size="6">
    <ion-col *ngFor="let imagen of imagenes" size="6">
      <ion-button class="cuadrado">
        <ion-img src="https://static.arasaac.org/pictograms/{{imagen.url}}/{{imagen.url}}_2500.png"></ion-img>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row size="6">
    <ion-col class="ion-text-center precio">${{productos[valor].precio}}</ion-col>
  </ion-row>
  <ion-row size="6">
    <ion-col>
      <ion-button class ="boton" expand="full" (click)="atras()">
        <ion-icon size="large" name="caret-back"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button class ="boton" expand="full" (click)="adelante()">
        <ion-icon size="large" name="caret-forward"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
