<ion-header>
  <ion-toolbar>
    <ion-title>producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row size="6">
    <ion-col size="6">
      <ion-button>
        <ion-img src="https://static.arasaac.org/pictograms/{{imagenes[valor]}}/{{imagenes[valor]}}_2500.png"></ion-img>
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button>
        <ion-img src="https://static.arasaac.org/pictograms/{{imagenes[valor+1]}}/{{imagenes[valor+1]}}_2500.png"></ion-img>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row size="6">
    <ion-col>${{precios[valor]}}</ion-col>
  </ion-row>
  <ion-row size="6">
    <ion-col>
      <ion-button expand="full" (click)="atras()">
        <ion-icon name="caret-back"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="full" (click)="adelante()">
        <ion-icon name="caret-forward"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
