<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back-outline" defaultHref="inicio"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo">
      Mi comercio (Categorias)
    </ion-title>
  </ion-toolbar>
</ion-header>
<br>
<ion-content [fullscreen]="true">
  <div style="display: flex; justify-content: center;">
    <ion-avatar>
      <img src="assets/img/logofeisinfondo.png">
    </ion-avatar>
  </div>
  <br>
  <ion-grid class="x">
    <ion-row>

      <ion-col size="6" *ngFor="let categoria of categorias">
        <ion-button class="cuadrado" (click)="funcion(categoria.idCategoria);" (contextmenu)="click($event, categoria.idCategoria, categoria.nombreCategoria);">
          <ion-img src="https://static.arasaac.org/pictograms/{{categoria.imagenCategoria}}/{{categoria.imagenCategoria}}_2500.png"></ion-img>
        </ion-button>
      </ion-col>

      
      <ion-col>
          <ion-button routerLink="0/categoria">
            <ion-icon name="add"></ion-icon>
          </ion-button>
      </ion-col>

      </ion-row>
  </ion-grid>
<ion-content>
