<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back-outline" defaultHref="inicio"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo">
      Mi comercio (Categorias)
    </ion-title>
  </ion-toolbar>
</ion-header>
<br>
<ion-content [fullscreen]="true">
  <div style="display: flex; justify-content: center;">
    <ion-avatar>
      <img src="assets/img/logofeisinfondo.png">
    </ion-avatar>
  </div>
  <br>
  <ion-grid class="x">
    <ion-row>

      <ion-col>
        <ion-button expand="block" class="cuadrado" routerLink="/categorias-comercio">
          <img src="assets/img/categoria-comercio3.png"/>
        </ion-button>
        <ion-text>Nombre</ion-text>
        <br>
        <br>
        <ion-button expand="block" class="cuadrado" routerLink="/categorias-comercio">
          <img src="assets/img/categoria-comercio2.png"/>
        </ion-button>
        <ion-text>Nombre</ion-text>
        <br>
      </ion-col>

      
      <ion-col>
        <ion-button expand="block" class="cuadrado" routerLink="/categorias-comercio">
          <img src="assets/img/categoria-comercio1.png"/>
        </ion-button>
        <ion-text>Nombre</ion-text>
        <br>
        <br>
        <br>
        <br>
        <br>
          <ion-button>
            <ion-icon name="add"></ion-icon>
          </ion-button>
      </ion-col>

      </ion-row>
  </ion-grid>
<ion-content>
