<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back-outline" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="j">Login</ion-title>
  </ion-toolbar>
</ion-header>
<br>
<ion-content [fullscreen]="true">
  <ion-grid>
    <div style="display: flex; justify-content: center;">
      <ion-avatar>
        <img src="assets/img/logofeisinfondo.png">
      </ion-avatar>
    </div>
    <div style="text-align: center">
      <h4>Fundación Estimulando para Incluir</h4>
    </div>
    <br>
    <br>
    <form [formGroup]="formIngreso" (ngSubmit)="ingresar()">
    <ion-item> 
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input formControlName="mail" type="text" class="form-control"></ion-input>
    </ion-item>
    <br>
    <ion-item> 
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input formControlName="contrasenia" type="password" class="form-control"></ion-input>
    </ion-item>
    <br>
    <ion-button expand="block" fill="solid" size="default" routerLink="/inicio">Ingresar</ion-button>
    </form>
    <br>
    <div style="text-align: center">
      <h5>¿No tenés una cuenta?</h5>
    </div>
    <ion-button expand="block" fill="clear" size="default" routerLink="/registro1">Registrate</ion-button>
  </ion-grid>
</ion-content>