<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
<br>
<ion-content [fullscreen]="true">
  
  <ion-grid>
    <div style="display: flex; justify-content: center;">
      <ion-avatar>
        <img src="assets/img/logofei.jpg">
      </ion-avatar>
    </div>
    <br>
    <br>
    <br>
    <ion-item> 
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <br>
    <ion-item> 
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <br>
      <ion-button expand="block" fill="solid" size="default" routerLink="/inicio">Ingresar</ion-button>
    <br>
    <div style="text-align: center">
      <h5>¿No tenés una cuenta?</h5>
    </div>
    <ion-button expand="block" fill="clear" size="default" routerLink="/registro1">Registrate</ion-button>
  </ion-grid>
</ion-content>