<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back-outline" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>productos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <br>
  <ion-button expand="block" *ngFor='let producto of productos' (click)="funcion();" (contextmenu)="click($event, producto.id, producto.nombreProducto);">
    {{producto.nombreProducto}}
  </ion-button>

  <!-- fab placed to the (vertical) center and end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/producto-comercio">
      <ion-icon name="add" ></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
