<ion-header>
  <ion-toolbar>
    <ion-title>Registro 1/2</ion-title>
  </ion-toolbar>
</ion-header>
<ion-grid>
  <ion-row>
    <ion-col>
      <h3>¡Crea tu cuenta!</h3>
    </ion-col>
    <ion-col>
      Aca va el logo de FEI
    </ion-col>
  </ion-row>
  <ion-row>
      <ion-item> 
        <ion-label position="floating">Ingresa tu correo electrónico</ion-label>
        <ion-input></ion-input>
      </ion-item>
  </ion-row>
    <br>
  <ion-row>
      <ion-item> 
        <ion-label position="floating">Confirma tu correo electrónico</ion-label>
        <ion-input></ion-input>
      </ion-item>
  </ion-row>
  <br>
  <ion-row>
      <ion-item> 
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
  </ion-row>
  <br>
  <ion-row>
      <ion-item> 
        <ion-label position="floating">Confirma tu contraseña</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
  </ion-row>
  <br>
  <ion-row >
    <ion-button fill="solid" size="default" routerLink="/registro2">Siguiente</ion-button>
  </ion-row>
</ion-grid>