<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title class="j">Registro 1/2</ion-title>
  </ion-toolbar>
</ion-header>
<br>
<ion-content [fullscreen]="true">
  <ion-grid>
    <div style="display: flex; justify-content: center;">
      <ion-avatar>
        <img src="assets/img/logofei.jpg">
      </ion-avatar>
    </div>
    <div style="text-align: center">
      <h1>¡Crea tu cuenta!</h1>
    </div>
    <br>
      <ion-item> 
        <ion-label position="floating">Ingresa tu correo electrónico</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <br>
    <ion-item> 
      <ion-label position="floating">Confirma tu correo electrónico</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <br>
    <ion-item> 
      <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password"></ion-input>
    </ion-item>
    <br>
    <ion-item> 
      <ion-label position="floating">Confirma tu contraseña</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <br>
    <ion-button expand="block" fill="solid" size="default" routerLink="/registro2">Siguiente</ion-button>
  </ion-grid>
</ion-content>  