<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back-outline" defaultHref="productos"></ion-back-button>
    </ion-buttons>
    <ion-title>producto-comercio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  [translucent]="true">
  <div style="display: flex; justify-content: center;">
    <ion-avatar>
      <img src="assets/img/logofeisinfondo.png">
    </ion-avatar>
  </div>
<ion-grid>
  <ion-row>
    <br><br><br>
    <ion-col class="ion-align-self-center">

      <form [FormGroup]="formProducto" (ngSubmit)='crearProducto'>
            <div>
            <Ioninput formControlName="nombreproducto" type="text" placeholder="Nombre del Producto"> 
            </div>

            <div class="form-group">
            <Ioninput formControlName="precioproducto" type="text" placeholder="Precio del Producto"> 
            </div>

            <button class='btn btn success'>Crear Producto</button>
      </form>

      


      <br>
      <!-- Expand -->
      <ion-button expand="block" routerLink="/imagen">Añadir imagen</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-grid>
  <ion-row>
    <ion-col>
      <img class="icons" src="https://img.icons8.com/office/60/000000/cancel.png"/>
    </ion-col>
    <ion-col>
      <img class="icon" src="https://img.icons8.com/office/60/000000/checked--v2.png"/>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
