<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back-outline" defaultHref="productos"></ion-back-button>
    </ion-buttons>
    <ion-title>producto-comercio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  [translucent]="true">
  <div style="display: flex; justify-content: center;">
    <ion-avatar>
      <img src="assets/img/logofeisinfondo.png">
    </ion-avatar>
  </div>
  <ion-grid>
    <ion-row>
      <br><br><br>
      <ion-col class="ion-align-self-center">
              
              <ion-input type="text" placeholder="Nombre del Producto"></ion-input>
              

              
              <ion-input type="text" placeholder="Precio del Producto"></ion-input>
              

              <button class='btn btn success'>Crear Producto</button>

        <br>
        <!-- Expand -->
        <ion-button expand="block" routerLink="/imagen">Añadir imagen</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
